@use '../utils' as u;

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: u.$color-bg;

	.options {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}
